
@{
    ViewData["Title"] = "AboutUs";
}

    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h2 class="mt0">Our Mission Is To Vidhya Real Estate</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-xl-7">
                    <div class="about_content">
                        <p class="large">Our vision is to be the leading real estate service provider in the region and the preferred place of employment for real estate professionals. We consistently strive to develop collaborative partnerships, based on transparency and mutual trust, which serve to build enduring client relationships. As we expand, we’re committed to these principles, which have served our company and clients through the years.</p>
                        <p>
                            We’re dedicated to achieving our vision by creating an energetic, positive, results-driven work environment focused on the investment and development of long-term relationships. We measure our success by the results delivered to clients. Our ethics are built on our commitment to offer superior customer service, combining an entrepreneurial flair and bespoke service of a fast-growing organisation.
                        </p>
                        <p>
                            Communication, commitment, and client care are the core values that emanate throughout every activity that we undertake. By listening and taking the time to understand our clients’ needs, we’re able to purvey comprehensive, holistic real estate advice. We’re proud to consistently deliver exceptional results to optimise the value of our clients’ property assets, at home and abroad.
                        </p>
                        <ul class="ab_counting">
                            <li class="list-inline-item">
                                <div class="about_counting">
                                    <div class="icon"><span class="flaticon-user"></span></div>
                                    <div class="details">
                                        <h3>5000+</h3>
                                        <p>Customers to date</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="about_counting">
                                    <div class="icon"><span class="flaticon-home"></span></div>
                                    <div class="details">
                                        <h3>50 Cr+</h3>
                                        <p>In home sales</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="about_counting">
                                    <div class="icon"><span class="flaticon-transfer"></span></div>
                                    <div class="details">
                                        <h3>5 Cr+</h3>
                                        <p>In Savings</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-5">
                    <div class="about_thumb">
                        <img class="img-fluid w100" src="~/images/about/1.jpg" alt="1.jpg">
                        @*<a class="popup-iframe popup-youtube color-white" href="https://www.youtube.com/watch?v=R7xbhKIiw4Y"><i class="flaticon-play"></i></a>*@
                    </div>
                </div>
            </div>
            <div class="row mt50">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h2>Why Choose Us</h2>
                        <p>We provide full service at every step.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="why_chose_us style2">
                        <div class="icon">
                            <span class="flaticon-high-five"></span>
                        </div>
                        <div class="details">
                            <h4>Trusted By Thousands</h4>
                            @*<p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="why_chose_us style2">
                        <div class="icon">
                            <span class="flaticon-home-1"></span>
                        </div>
                        <div class="details">
                            <h4>Wide Renge Of Properties</h4>
                            @*<p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="why_chose_us style2">
                        <div class="icon">
                            <span class="flaticon-profit"></span>
                        </div>
                        <div class="details">
                            <h4>Financing Made Easy</h4>
                            @*<p>Aliquam dictum elit vitae mauris facilisis at dictum urna dignissim donec vel lectus vel felis.</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section id="our-partners" class="our-partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h2>Our Partners</h2>
                        <p>We only work with the best companies around the globe</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg">
                    <div class="our_partner">
                        <img class="img-fluid" src="~/images/partners/1.png" alt="1.png">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg">
                    <div class="our_partner">
                        <img class="img-fluid" src="~/images/partners/2.png" alt="2.png">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg">
                    <div class="our_partner">
                        <img class="img-fluid" src="~/images/partners/3.png" alt="3.png">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg">
                    <div class="our_partner">
                        <img class="img-fluid" src="~/images/partners/4.png" alt="4.png">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg">
                    <div class="our_partner">
                        <img class="img-fluid" src="~/images/partners/5.png" alt="5.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

